@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;;
}

.clearfix{
    clear: both;
}

header{
    position: sticky;
    background-color: white;
    display: flex;
    height: 75px;
    width: 100%;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid rgb(204, 201, 201);
    padding-top: 10px;
}

header img{
    width: 200px;
    margin-top: 0px;
    margin-right: 20px;
    float: right;
    right: 10px;
    position: absolute;

}

header nav.menu a{
    text-decoration: none;
    height: 50px;
    width: 150px;
    align-items: center;
    padding: 10px;
    color: black;
}

header nav.menu div:nth-child(2) a:hover{
    
}

.menu{
    float: left;
    height: 50px;
    display: flex;
}

.menu-item{
    height: 50px;
    width: 150px;
    font-size: 1rem;
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
}


.menu-item a:hover{
    color: red;
}

header .menu-item:first-child{
    width: 100px;
}

header nav.social-icons {
    position: absolute;
    right: 260px;
    align-self: center;
    font-size: 2rem;
    padding-bottom: 10px;
}

header nav.social-icons a{
    margin: 5px;
    
}

header nav.social-icons a:nth-child(1){
    color: #4267B2;
    
}

header nav.social-icons a:nth-child(2){
    color: #0077b5;
    
}

header nav.social-icons a:nth-child(3){
    color: #1DA1F2;
    
}

header nav.social-icons a:nth-child(4){
    color: #C13584;
    
}

header nav.social-icons a:nth-child(5){
    color: #FF0000;
    
}

header nav.social-icons a:nth-child(6){
    color: #78C257;
    
}

header nav.social-icons a:nth-child(7){
    color: darkgoldenrod;
    
}

header nav.social-icons ion-icon{
    font-size: 25px;
}

.first-intro{
    padding: 20px;
}

.first-intro p{
    font-size: 1.1rem;
    font-family: 'M PLUS 1', sans-serif;
}

main section h1{
    font-size: 3rem;
    font-family: 'M PLUS 1', sans-serif;
}

main section h3{
    font-size: 1rem;
    font-style: italic;
    color: lightgray;
}

main section img{
    float: right;
    margin: 10px;
    width: 350px;
    border-radius: 10px;

    
}

.second-intro{
    padding: 20px;
    text-align: center;
}

.second-intro h1{
    font-size: 1.2rem;
    font-style: italic;
}

.news-grid{
    width: 100%;
    height:800px;
    
    background-color: yellow;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(219, 14, 14);
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(51, 42, 42);
    position: relative;
}

footer nav.social-icons a{
    float: right;
    color: white;
}

footer nav.social-icons a ion-icon{
        font-size: 2rem;
        padding: 5px;
    
}


@media all and (max-width:1400px) {
    header img{
        width: 100px;
        margin-top: 0px;
        margin-right: 10px;
        float: right;
        right: 5px;
        position: absolute;
        padding-top: 10px;
        
    
    }

    header nav.social-icons {
        position: absolute;
        right: 160px;
        align-self: center;
        font-size: 1rem;
        padding-bottom: 10px;
        
    }
    
    header nav.social-icons a{
        margin: 4px;
        
    }

    .menu{
        float: left;
        height: 50px;
        display: flex;
        
    }
    
    header{
        height: 75px;
    }
    
    .menu-item{
        height: 50px;
        width: 50px;
        font-size: 0.6rem;
        padding: 0;
        margin: 0%;
        padding-top: 20px;
        text-align: center;
        
        
    }

    .menu div:nth-child(1){
        width: 45px;
    }

    .menu div:nth-child(2){
        width: 85px;
    }

    main section img{
        float: right;
        margin: 20px;
        width: 300px;
        border-radius: 10px;
    
        
    }
}

@media all and (max-width:798px){
    header img{
        width: 100px;
        margin-top: 0px;
        margin-right: 10px;
        float: right;
        right: 5px;
        position: absolute;
        padding-top: 10px;
        top: 75px;
    
    }

    header{
        height: 150px;
    }

    header nav.social-icons {
        position: absolute;
        right: 160px;
        align-self: center;
        font-size: 1rem;
        padding-bottom: 10px;
        top: 75px;
    }
}

@media all and (max-width:370px){
    .menu-item{
        height: 50px;
        width: 40px;
        font-size: 0.5rem;
        padding: 0;
        margin: 0%;
        padding-top: 20px;
        text-align: center;
        font-weight: 600;
    }

    .menu div:nth-child(1){
        width: 35px;
    }

    .menu div:nth-child(2){
        width: 75px;
    }

    header nav.social-icons {
        position: absolute;
        right: 120px;
        align-self: center;
        font-size: 0.5rem;
        padding-bottom: 10px;
        top: 75px;
    }

    main section img{
        float: right;
        margin: 20px;
        width: 200px;
        border-radius: 10px;   
    }

    
}

